### Сечение профиля

<img src="https://i.ibb.co/ZWwjzbS/img.png" alt="img" border="0">

In [1]:
# количество элементов профиля
m = 17

# количество клетей
n = 11

### Толщина загатовки

In [2]:
s = 2

## Расчет

In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv("исходные_данные.csv")
L_n = data['L'].to_numpy()
R_n = data['R'].to_numpy()
A_n = np.radians(data['A'].to_numpy())
angles = pd.read_csv("матрица_углов.csv", header=None)
coeff_matrix = pd.read_csv("матрица_коэффициентов.csv", header=None)
R_n * np.abs(A_n)
L_n += R_n * np.abs(A_n)

### Размеры конечнего сечения

In [5]:
pd.DataFrame({'Ln':L_n, 'An':A_n, 'Rn':R_n}, index=np.arange(1, 18))

           Ln        An  Rn
1   17.000000  0.000000   0
2    4.712389  1.570796   3
3   52.000000  0.000000   0
4    4.712389  1.570796   3
5   55.300000  0.000000   0
6    2.024233  0.674744   3
7   10.700000  0.000000   0
8    2.024233  0.674744   3
9   17.190000  0.000000   0
10   2.024233 -0.674744   3
11  10.700000  0.000000   0
12   2.024233  0.674744   3
13  55.300000  0.000000   0
14   4.712389  1.570796   3
15  52.000000  0.000000   0
16   4.712389  1.570796   3
17  17.000000  0.000000   0

### Сумма длин элементов профиля

In [6]:
b0 = np.sum(L_n)
b0

314.13648738739084

### Матрица углов A

In [7]:
A = angles.to_numpy()
A = np.abs(np.radians(A))
A_df = pd.DataFrame(A, index=np.arange(1, 18), columns=np.arange(1, 12))
A_df

,1,2,3,4,5,6,7,8,9,10,11
1,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.392699,0.785398,1.178097,1.570796
3,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.0,0.000000,0.000000,0.392699,0.785398,1.178097,1.570796,1.570796,1.570796,1.570796,1.570796
5,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.0,0.337372,0.674744,0.674744,0.674744,0.674744,0.674744,0.674744,0.674744,0.674744,0.674744
7,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.0,0.337372,0.674744,0.674744,0.674744,0.674744,0.674744,0.674744,0.674744,0.674744,0.674744
9,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.0,0.337372,0.674744,0.674744,0.674744,0.674744,0.674744,0.674744,0.674744,0.674744,0.674744
11,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.0,0.337372,0.674744,0.674744,0.674744,0.674744,0.674744,0.674744,0.674744,0.674744,0.674744
13,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,0.0,0.000000,0.000000,0.392699,0.785398,1.178097,1.570796,1.570796,1.570796,1.570796,1.570796
15,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.392699,0.785398,1.178097,1.570796
17,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

### Матрица радиусов R

In [8]:
R = np.zeros(shape=(m,n))

for i in range(1, 3):
    for j in range(m):
        if A[j, i] == 0:
            R[j, i] = 0
        else:
            R[j, i] = L_n[j] / np.abs(A[j, i])

for i in range(3, n):
    for j in range(m):
        if A[j, n-1] == 0:
            R[j, i] = 0
        else:
            R[j, i] = L_n[j] / np.abs(A[j, n-1])

In [9]:
R_df = pd.DataFrame(R, index=np.arange(1, 18), columns=np.arange(1, 12))
R_df

     1    2    3    4    5    6    7    8    9    10   11
1   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2   0.0  0.0  0.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0
3   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4   0.0  0.0  0.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0
5   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6   0.0  6.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0
7   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
8   0.0  6.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0
9   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10  0.0  6.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0
11  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
12  0.0  6.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0
13  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
14  0.0  0.0  0.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0
15  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
16  0.0  0.0  0.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0
17  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

### Матрица коэффициентов M

In [10]:
M = coeff_matrix.to_numpy()
pd.DataFrame(M, index=np.arange(1, 18), columns=np.arange(1, 18))

    1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17
1    1   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
2    0   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
3    0   0   1   1   0   0   0   0   0   0   0   0   0   0   0   0   0
4    0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0
5    0   0   0   0   1   1   0   0   0   0   0   0   0   0   0   0   0
6    0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
7    0   0   0   0   0   0   1   1   0   0   0   0   0   0   0   0   0
8    0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0
9    0   0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0
10   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0   0
11   0   0   0   0   0   0   0   0   0   1   1   0   0   0   0   0   0
12   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0
13   0   0   0   0   0   0   0   0   0   0   0   1   1   0   0   0   0
14   0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0
15   0   0   0   0   0   0   0   0   0   0   0   0   0   1   1   0   0
16   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1   0
17   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1   1

### Матрица свободных коэффициентов b

In [11]:
def b(j):
    if j < 0 or j >= m:
        raise ValueError
    return np.array([
        L_n[0] + L_n[1],
        R[1, n-1] * A[1, j],
        L_n[2] + L_n[3],
        R[3, n-1] * A[3, j],
        L_n[4] + L_n[5],
        R[5, j] * A[5, j],
        L_n[6] + L_n[7],
        R[7, j] * A[7, j],
        L_n[8],
        R[9, j] * A[9, j],
        L_n[9] + L_n[10],
        R[11, j] * A[11, j],
        L_n[11] + L_n[12],
        R[13, n-1] * A[13, j],
        L_n[13] + L_n[14],
        R[15, n-1] * A[15, j],
        L_n[15] + L_n[16]
    ])

### Матрица длин L

In [12]:
L = [np.linalg.solve(M, b(i)) for i in range(n)]
L = np.column_stack(L)

In [13]:
L_df = pd.DataFrame(L, index=np.arange(1, 18), columns=np.arange(1, 12))
L_df

,1,2,3,4,5,6,7,8,9,10,11
1,21.712389,21.712389,21.712389,21.712389,21.712389,21.712389,21.712389,20.534292,19.356194,18.178097,17.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.178097,2.356194,3.534292,4.712389
3,56.712389,56.712389,56.712389,55.534292,54.356194,53.178097,52.000000,52.000000,52.000000,52.000000,52.000000
4,0.000000,0.000000,0.000000,1.178097,2.356194,3.534292,4.712389,4.712389,4.712389,4.712389,4.712389
5,57.324233,55.300000,55.300000,55.300000,55.300000,55.300000,55.300000,55.300000,55.300000,55.300000,55.300000
6,0.000000,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233
7,12.724233,10.700000,10.700000,10.700000,10.700000,10.700000,10.700000,10.700000,10.700000,10.700000,10.700000
8,0.000000,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233
9,17.190000,17.190000,17.190000,17.190000,17.190000,17.190000,17.190000,17.190000,17.190000,17.190000,17.190000
10,0.000000,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233
11,12.724233,10.700000,10.700000,10.700000,10.700000,10.700000,10.700000,10.700000,10.700000,10.700000,10.700000
12,0.000000,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233,2.024233
13,57.324233,55.300000,55.300000,55.300000,55.300000,55.300000,55.300000,55.300000,55.300000,55.300000,55.300000
14,0.000000,0.000000,0.000000,1.178097,2.356194,3.534292,4.712389,4.712389,4.712389,4.712389,4.712389
15,56.712389,56.712389,56.712389,55.534292,54.356194,53.178097,52.000000,52.000000,52.000000,52.000000,52.000000
16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.178097,2.356194,3.534292,4.712389
17,21.712389,21.712389,21.712389,21.712389,21.712389,21.712389,21.712389,20.534292,19.356194,18.178097,17.000000

### Экспорт данных в формат excel

In [14]:
from openpyxl import Workbook

In [15]:
wb = Workbook()

sheet = wb.active
sheet.cell(row=1, column=1).value = "s"
sheet.cell(row=1, column=2).value = s
sheet.cell(row=1, column=3).value = "мм"

row = 2

for j in range(n):
    for i in range(m):
        sheet.cell(row=row, column=1).value = f"L{i+1}_{j+1}"
        sheet.cell(row=row, column=2).value = L[i,j]
        sheet.cell(row=row, column=3).value = "мм"
        row += 1
        sheet.cell(row=row, column=1).value = f"R{i+1}_{j+1}"
        sheet.cell(row=row, column=2).value = R[i,j]
        sheet.cell(row=row, column=3).value = "мм"
        row += 1
        sheet.cell(row=row, column=1).value = f"A{i+1}_{j+1}"
        sheet.cell(row=row, column=2).value = A[i,j]
        sheet.cell(row=row, column=3).value = "град"
        row += 1
wb.save(filename="результат.xlsx")